<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper
        PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace='ky.xml.TSysRoleMenuMapper'>

    <resultMap type="ky.entity.TSysRoleMenu" id="resultMap">
        <id column="srm_id" property="srmId"/>
        <result column="menu_id" property="menuId"/>
        <result column="role_id" property="roleId"/>
    </resultMap>

    <!-- 公用的判断条 -->
    <sql id="configParamSql">
        <if test="searchBean.menuId !=null  and  searchBean.menuId!=0">
            and obj.menu_id=#{searchBean.menuId}
        </if>
        <if test="searchBean.srmId !=null  and  searchBean.srmId!=0">
            and obj.srm_id=#{searchBean.srmId}
        </if>
        <if test="searchBean.roleId !=null  and  searchBean.roleId!=0">
            and obj.role_id=#{searchBean.roleId}
        </if>
    </sql>

    <select id="selectPage" resultMap="resultMap" parameterType="ky.util.PageView">
        SELECT * FROM (SELECT A.*, ROWNUM RN FROM (
        SELECT * FROM t_sys_role_menu obj
        <where>
            <include refid="configParamSql"/>
        </where>
        <if test="sort !=null  and  sort!=''">
            order by obj.${sort} ${order}
        </if>
        <if test="sort==null">
            order by obj.srm_id desc
        </if>
        )A WHERE ROWNUM &lt;= 1* (#{pageNum}*#{pageSize}))
        WHERE RN &gt;= (#{pageNum}-1)*#{pageSize}+1
    </select>

    <select id="selectList" resultMap="resultMap" parameterType="ky.entity.TSysRoleMenu">
        select * from t_sys_role_menu
        <where>
            <if test="menuId !=null  and  menuId!=0">
                and menu_id=#{menuId}
            </if>
            <if test="srmId !=null  and  srmId!=0">
                and srm_id=#{srmId}
            </if>
            <if test="roleId !=null  and  roleId!=0">
                and role_id=#{roleId}
            </if>
        </where>
    </select>

    <insert id="save" parameterType="ky.entity.TSysRoleMenu">
        <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE">
            select idauto.nextval from dual
        </selectKey>
        <![CDATA[insert into t_sys_role_menu(menu_id,role_id)
		values(#{menuId,jdbcType=INTEGER},#{roleId,jdbcType=INTEGER})]]>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from t_sys_role_menu
        where role_id=#{roleId}
    </delete>

    <update id='update' parameterType='ky.entity.TSysRoleMenu'>
        update t_sys_role_menu set
        menu_id = #{menuId,jdbcType=INTEGER},
        srm_id = #{srmId,jdbcType=INTEGER},
        role_id = #{roleId,jdbcType=INTEGER}
        where srm_id=#{srmId}
    </update>

    <select id="total" resultType="int" parameterType="ky.util.PageView">
        select count(*) from t_sys_role_menu obj
        <where>
            <include refid="configParamSql"/>
        </where>
    </select>

</mapper>

